/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #c0c0c0;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-green: #feb546;
  --color-second: #ffdba3;
  --color-slider: #ff9b00;
  /* #b9ff63; */

  /* Font size */
  --font-large: 20px;
  --font-medium: 18px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;
  --font-tiny: 10px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

* {
  margin: 0;
  box-sizing: border-box;
  /* padding과 border을 합친 크기 */
}

body {
  background-color: #f3f4f7;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  /* 클릭할 때 생기는 자국이 outline이다 */
}

a {
  text-decoration: none;
  color: var(--color-white);
}

textarea,
input {
  /* border-radius: 4px; */
  border-color: var(--color-light-grey);
  font-size: var(--font-tiny);
}

/* title */

.title {
  padding-top: 30px;
  padding-bottom: 10px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: var(--color-green);
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  /* text-shadow: 0.35rem 0.35rem #ff3852; */
}

.languageContainer {
  /* position: absolute;
  top:30px;
  right:30px; */
  margin-bottom: 15px;
}

.notIE {
  font-size: var(--font-tiny);
}

.title i {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 30px;

  position: relative;
  top: 2px;
}

.title img {
  width: 45px;
  height: 45px;
}

/* .title div:nth-child(2) {
  color: black;
  font-size: 20px;
  font-weight: 600;
}
.title div:nth-child(3) {
  color: var(--color-dark-grey);
  font-size: 25px;
  font-weight: 600;
} */

/* main section */
#main {
  text-align: center;
  padding: 0px 50px;
  width: 100%;
  margin: auto;
  max-width: 800px;
}

/* textarea */

.textInput {
  resize: none;
  width: 100%;
  height: 200px;
  /* border-radius: 8px; */
  border-color: var(--color-light-grey);
  margin-bottom: 0px;
  font-size: var(--font-micro);
}

/* counter */
.counter {
  width: 100%;
  height: 60px;
  /* border: 1px solid black; */

  /* border가 한줄로 나오도록 한다. */
  border-collapse: collapse;
  font-size: var(--font-small);
  color: var(--color-dark-grey);
  margin-bottom: 4px;
}

.counter tr:nth-child(1) {
  background-color: var(--color-second);
}

.counter td {
  width: 25%;
  border: 1px solid var(--color-light-grey);
}

.tdReadingTime {
  font-weight: var(--weight-semi-bold);
  color: black;
}

.readingTimeBox {
  /* background-color: color-; */
}

/* .counter {
  display: flex;
  justify-content: space-around;
  width: 0%;
  margin: 20px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.counter p {
  color: black;
  font-size: 20px;
  border-right: 1px solid gray;
  padding-right: 50px;
}

.counter p:nth-child(3) {
  border-right: transparent;
} */

.subtitle {
  font-size: var(--font-medium);
  padding: 20px 0;
  font-weight: var(--weight-bold);
}

.paragraph {
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  font-size: var(--font-tiny);
  color: var(--color-dark-grey);
  line-height: 18px;
}
/* .paragraph:nth-child(2) {
  margin-bottom: 0px;
} */

.readingTimeContainer {
  padding-bottom: 10px;
  display: flex;
}

.radioBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

[name="checking"] {
  transform: scale(1.4);
  margin-right: 12px;
}

label {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: black;
}

/* slider */

.sliderContainer {
  padding-top: 20px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* border-right: 1px solid var(--color-light-grey); */
  flex-basis: 50%;
  background-color: var(--color-second);
  color: var(--color-dark-grey);
}
.sliderContainer label {
  /* flex-basis: 10%; */
  /* margin-bottom: 50px; */
}

.sliderContainer .slider {
  /* flex-basis: 90%; */
}

.sliderContainer .cpm {
  font-size: var(--font-micro);
}

.sliderContainer > p:nth-last-child(1) {
  margin-bottom: 10px;
  font-size: var(--font-micro);
}

.box1 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.box1 p:nth-child(1) {
  word-spacing: 100px;
  font-size: var(--font-tiny);
}

.cpmText {
  color: black;
  text-align: left;
  /* padding-left: 55px; */
  /* width: 80%; */
  margin: auto;
  margin-bottom: 15px;
  line-height: 20px;
  font-size: var(--font-micro);
  /* border-collapse: collapse; */
}

.cpmText tr td:nth-child(1) {
  border-right: 15px solid transparent;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 80%; /* Full-width */
  /* height: 25px; Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  height: 15px;
  /* border-radius: 5px; */
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--color-slider); /* Green background */
  cursor: pointer; /* Cursor on hover */
  /* height: 25px; */
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
  /* height: 25px; */
  border-radius: 50%;
}

/* Customize */

.customizeContainer {
  color: black;
  padding-top: 20px;
  flex-basis: 50%;
}

.box2 {
  /* margin-top: 0px; */
  /* font-size: 20px; */
}

.box3 {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
/* stopWatch */
/* .box3 > div:nth-child(1) {
  width: 100%;
  border-right: 1px solid var(--color-dark-grey);
  flex-basis: 50%;
} */

.stopWatch {
  margin-bottom: 15px;
}

.stopWatch > p {
  color: black;
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-micro);
}

.stopWatch > span {
  font-size: var(--font-micro);
}

#postTestMilisec {
  font-size: 7px;
  /* color: var(--color-light-grey); */
}

/* .box3 > div:nth-child(2) {
  flex-basis: 50%;
}

.box3 button {
  color: var(--color-dark-grey);
} */

#testStartBtn {
  border: 1px solid green;
  color: green;
}

#testStopBtn {
  border: 1px solid red;
  color: red;
}

.time {
  margin-bottom: 20px;
}

.ppt {
  font-size: 12px;
  margin-bottom: 20px;
}

.ppt input {
  width: 40px;
}

.minutes,
.seconds {
  width: 50px;
  height: 25px;
}

.textInput2 {
  resize: none;
  width: 90%;
  height: 70px;
  margin-bottom: 0;
  font-size: var(--font-tiny);
}

.box2 > p {
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid var(--color-dark-grey);
}

/* .speed, */
.cpm2 {
  font-size: var(--font-regular);
  margin-bottom: 10px;
}

/* ID , about me */

#contact {
  background-color: #ffedd1;
}

.description {
  /* padding-top: 20px; */
  color: var(--color-dark-grey);
  font-size: var(--font-micro);
}

.email {
  /* margin-top: 10px; */
  font-size: var(--font-micro);
  font-weight: var(--weight-semi-bold);
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons a {
  width: 30px;
  height: 30px;
  margin: 6px 6px;
}

.icons img {
  width: 30px;
  height: 30px;
  border-radius: 6px;
}

.copyright {
  padding-bottom: 20px;
  font-size: var(--font-tiny);
}

.modal__bg {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.modal__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;

  z-index: 10002;
  width: 40%;
}

.modal__text {
  margin: 30px 20px 21px 20px;
  text-align: center;
  font-size: 20px;
}

.modal__btns {
  display: flex;
}

.modal__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal__btns button {
  outline: 0;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  height: 27px;
  color: #ffffff;
  font-size: 12px;
  background-color: var(--color-slider);
  width: 100px;
}

.modal__link--btn {
  margin-right: 8px;
}

.modal__link--close {
  width: 50px !important;
}

/* media query  */
/* 글자를 작게 만들어, 한줄에 나오도록 */

@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 16px;
    --font-medium: 14px;
    --font-regular: 14px;
    --font-small: 12px;
    --font-micro: 12px;
  }

  .title {
    padding: 20px 0px;
  }

  .title img {
    width: 30px;
    height: 30px;
  }

  .title i {
    top: 2px;
    margin-right: 10px;
  }

  #main {
    padding: 0 10px;
  }

  .textInput {
    margin-bottom: 0px;
  }

  .subtitle {
    margin: 10px 0px;
    padding: 0px;
  }
  .readingTimeContainer {
    padding-bottom: 0px;
    flex-direction: column;
  }

  .box1 {
    margin: 6px 0;
  }

  .paragraph {
    margin-bottom: 6px;
  }

  #contact {
    padding-top: 6px;
  }

  .email {
    margin-top: 0px;
  }

  .modal__body {
    width: 60%;
  }
}

@media screen and (max-width: 524px) {
  :root {
    --font-large: 15px;
  }
}
