/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #c0c0c0;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-green: #feb546;
  /* #b9ff63; */

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

* {
  margin: 0;
  box-sizing: border-box;
  /* padding과 border을 합친 크기 */
}

body {
  background-color: #f3f4f7;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  /* 클릭할 때 생기는 자국이 outline이다 */
}

a {
  text-decoration: none;
  color: var(--color-white);
}

textarea,
input {
  border-radius: 8px;
  border-color: var(--color-light-grey);
}

/* title */

.title {
  padding: 50px 0;
  /* border: 1px solid black; */
}

.title div:nth-child(1) {
  color: var(--color-green);
  font-size: 70px;
  font-weight: 800;
  text-shadow: 0.35rem 0.35rem #ff3852;
  /* , 0.7rem 0.7rem #ffc14f; */
}
.title div:nth-child(2) {
  color: black;
  font-size: 20px;
  font-weight: 600;
}
.title div:nth-child(3) {
  color: var(--color-dark-grey);
  font-size: 25px;
  font-weight: 600;
}

/* section */

section {
  text-align: center;
  padding: 0px 50px;
  width: 100%;
  margin: auto;
  max-width: 1200px;
}

/* textarea */

.textInput {
  resize: none;
  width: 100%;
  height: 300px;
  border-radius: 8px;
  border-color: var(--color-light-grey);
  margin-bottom: 30px;
}

/* counter */
.counter {
  width: 100%;
  height: 80px;
  /* border: 1px solid black; */

  /* border가 한줄로 나오도록 한다. */
  border-collapse: collapse;
  margin-bottom: 30px;
  font-size: 20px;
  color: var(--color-dark-grey);
}

.counter tr:nth-child(1) {
  background-color: var(--color-green);
}

.counter td {
  width: 25%;
  border: 1px solid var(--color-light-grey);
}

.tdReadingTime {
  font-weight: 800;
  color: black;
}

/* .counter {
  display: flex;
  justify-content: space-around;
  width: 0%;
  margin: 20px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.counter p {
  color: black;
  font-size: 20px;
  border-right: 1px solid gray;
  padding-right: 50px;
}

.counter p:nth-child(3) {
  border-right: transparent;
} */

.subtitle {
  font-size: 30px;
  margin-bottom: 30px;
}

.readingTimeContainer {
  padding-bottom: 30px;
  display: flex;
}

/* slider */

.sliderContainer {
  padding-top: 20px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  border-right: 1px solid var(--color-light-grey);
  flex-basis: 50%;
}
.sliderContainer label {
  /* flex-basis: 10%; */
  margin-bottom: 50px;
}

.sliderContainer .slider {
  /* flex-basis: 90%; */
}

.sliderContainer .cpm {
  font-size: 15px;
}

.box1 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.box1 p:nth-child(1) {
  word-spacing: 100px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 80%; /* Full-width */
  /* height: 25px; Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  height: 15px;
  /* border-radius: 5px; */
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--color-green); /* Green background */
  cursor: pointer; /* Cursor on hover */
  /* height: 25px; */
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
  /* height: 25px; */
  border-radius: 50%;
}

/* Customize */

.customizeContainer {
  padding-top: 20px;
  flex-basis: 50%;
}

.box2 {
  margin-top: 30px;
  /* font-size: 20px; */
}

.stopWatch {
  width: 50%;

  background-color: var(--color-green);
  color: var(--color-dark-grey);
  margin: 0 auto;
  margin-bottom: 20px;
}

.stopWatch button {
  color: var(--color-dark-grey);
}

.time {
  margin-bottom: 20px;
}

.minutes,
.seconds {
  width: 50px;
  height: 20px;
}

.textInput2 {
  resize: none;
  width: 80%;
  height: 70px;
}

/* 
  .ui-slider-tick {
    position: absolute;
    width: 2px;
    height: 16px;
    z-index: -1;
  } */

/* media query  */
/* 글자를 작게 만들어, 한줄에 나오도록 */
